<div class="home">
  <app-carousel
    #carousel
    [activeIndex]="carouselActiveIndex"
    (changeSlide)="onChangeSlide($event)"
  >
    <nz-carousel
      nzAutoPlay
      nzEffect="fade"
      [nzDotRender]="carousel.dotRef"
      (nzBeforeChange)="onBeforeChange($event)"
    >
      <div
        nz-carousel-content
        class="carousel-item"
        *ngFor="let item of banners"
      >
        <a [href]="item.url" target="_blank" class="banner-item">
          <img [src]="item.imageUrl" alt="" />
        </a>
      </div>
    </nz-carousel>
  </app-carousel>

  <div class="main">
    <div class="wrap">
      <div class="left">
        <div class="sec">
          <div class="up">
            <div class="navs">
              <h2>
                <i></i>
                <a>热门推荐</a>
              </h2>
              <nav>
                <a href="">华语</a>
                <a href="">华语</a>
                <a href="">华语</a>
              </nav>
            </div>
            <a href="">
              更多
              <i nz-icon type="arrow-right" theme="outline"></i>
            </a>
          </div>
          <div class="down">
            歌单
          </div>
        </div>
      </div>
      <div class="right">right</div>
    </div>
  </div>
</div>
