<div class="bg">
    <div class="up">
        <div class="lock">
            <i></i>
        </div>
    </div>

    <div class="container-wrap">
        <div class="container">
            <div class="down">
                <div class="left">
                    <i
                        nz-icon
                        type="user-add"
                        nzTheme="outline"
                        class="pre"
                    ></i>
                    <i class="toggle"></i>
                    <i class="next"></i>
                </div>
                <div class="mid">
                    <div class="head"></div>
                    <div class="play">
                        <div class="words">
                            <p>歌曲名字</p>
                            <ul class="songs">
                                <li>名字1</li>
                                <li>mingzi2</li>
                            </ul>
                        </div>
                        <div class="bar">
                            <div class="slider-wrap">
                                <app-slider></app-slider>
                            </div>
                            <span>2:45/5:00</span>
                        </div>
                    </div>
                </div>
                <div class="oper">
                    <i class="like"></i>
                    <i class="share"></i>
                </div>
                <div class="ctrl">
                    <i class="volume"></i>
                    <i class="loop"></i>
                    <p class="open">
                        <span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
