<div class="bg">
    <div class="container">
        <div class="up"></div>
        <div class="down">
            <div class="left">
                <!-- <i class="pre"></i> -->
                <i nz-icon type="user-add" nzTheme="outline" class="pre"></i>
                <i class="toggle"></i>
                <i class="next"></i>
            </div>
            <div class="mid">
                <div class="head"></div>
                <div class="play"></div>
            </div>
            <div class="right"></div>
        </div>
    </div>
</div>
