.slider-wrap {
    height: 20px;
    width: 100%;
    cursor: pointer;

    .track {
        position: absolute;
        margin-top: 5px;
        width: 535px;
        height: 10px;
        background: url('../../../../assets/images/statbar.png');
        background-repeat: no-repeat;
        background-position: 0 -30px;
        background-size: cover;
    }

    .handle {
        position: absolute;
        margin-top: -1px;
        margin-left: -12px;
        width: 22px;
        height: 24px;
        background-image: url(../../../../assets/images/iconall.png);
        background-position: 0 -250px;
    }
}
